# Environment Configuration
NODE_ENV=development
IS_OFFLINE=true

# AWS Configuration
AWS_REGION=us-east-1
DYNAMODB_ENDPOINT=http://localhost:4566
S3_ENDPOINT=http://localhost:4566

# Application Configuration
S3_BUCKET_NAME=certificadoignite2021