# Environment Configuration
NODE_ENV=development
IS_OFFLINE=true

# AWS Configuration
AWS_REGION=us-east-1
DYNAMODB_ENDPOINT=http://localhost:4566
S3_ENDPOINT=http://localhost:4566

# LocalStack Configuration
LOCALSTACK_HOSTNAME=localhost
SERVICES=dynamodb,s3

# Application Configuration
TABLE_NAME=users_certificate
S3_BUCKET=certificadoignite2021